body {
    background: url('https://media1.giphy.com/media/3o7buijTqhjxjbEqjK/giphy.gif?cid=790b76116334680951f370e89a0c5232cd282dbe80b3940d&rid=giphy.gif&ct=g') !important;
  }
  
  #masthead,
  #primary {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #fff;
    padding: 20px !important;
  }
  #masthead {
    background: none;
  }
  #masthead img, #primary img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  